* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5%;
    margin-left: 100px;
}

.nav {
    margin-right: 100px;
    font-size: 22px;
}

.item {
    display:inline-flex;
    list-style: none;
    margin-left: 50px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin: 0;
}

.brule {
    text-align: center;
    margin-top: 10px;
}